# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Input folders
vars/
vars_project/
params/
examples/*.xlsx

# Output folders
output/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Environment
.env
.venv/
env/
venv/

# Data cache or model results
*.pkl
*.joblib
*.json
*.csv

# System files
Thumbs.db
